

{% extends 'Profiles/base.html' %}

{% block title %}
 Profile_detail
{% endblock %}

{% block body%}
<div class="profile-detail">
    <div class="card">
        
        <div class="card-body">

            <div class="row">
                <div class="col-3 mx-2">
                    <img src="{{object.avatar.url}}" class="card-img-top" style="width:200px;height:200px;">
                    <br />
                    <h1>{{object.user}}</h1>
                </div>
                <div class="col-5">
                    <br />
                    <b>Friends:</b>{{object.get_friends_no}}
                    <br />
                    <hr />
                    <b>Likes Given:</b>{{object.get_likes_given_n}}
                    <br />
                    <hr />
                    <b>Liken Recieved:</b>{{object.get_likes_received_no}}
                    <br />
                    <hr />
                    <b>Posts:</b>{{object.get_posts_no}}
                    <br />
                    {% if object.user not in rel_receiver and object.user not in rel_sender %}
                    <form action="{% url 'send-invite' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="profile_pk" value="{{object.pk}}" />

                        <button type="submit" class="btn btn-success">Add friend</button>

                    </form>
                    {% endif %}
                    <br />
                    {% if object.user in rel_receiver and request.user not in object.friends.all %}
                    <button type="submit" class="btn btn-success">Waiting for approval</button>
                    {% endif %}
                    <br />
                    {% if request.user in object.friends.all %}
                    <form action="{% url 'remove-friend' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="profile_pk" value="{{object.pk}}" />

                        <button type="submit" class="btn btn-danger">Remove</button>

                    </form>
                    {% endif %}
                </div>

            </div>
            <hr />
            <div class="detail" style="display:flex;justify-content:center;text-align:center;">
                <dic class="posts">
                    {% if len_posts %}
                    {% for post in posts %}
                    {{post.context}}
                    {% endfor %}
                    {% else %}
                    <h1>No post</h1>
                    {% endif %}
                </dic>

            </div>
        </div>
    </div>
</div>
{% endblock %}