{% extends 'Profiles/base.html' %}

{% block title %}
 Profile
{% endblock %}

{% block body %}
<div class="container my-8">
    <div class="card my-4" >
       
        <div class="card-body">
            {% if confirm %}

            <div class="alert alert-success" role="alert">Your Profile has been updated.</div>
            {% endif %}
            <!--modal-->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Profile</h5>
                            
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <hr />
                            <img src="{{profile.avatar.url}}" class="img-fluid" alt="..."  >
                            <hr />
                            <form method="POST" action="" enctype="multipart/form-data">
                                {% csrf_token %}
                                {{form.as_p}}
                                <button type="submit" class="btn btn-primary">Update</button>
                            </form>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="row my-4">
                <div class="col-4"><img src="{{profile.avatar.url}}" class="img-fluid" alt="..."></div>
                <div class="col-6">
                    <hr />
                    <h3 class="card-title"><b class="bold mx-4">User:</b>{{profile.user}}</h3>
                    <hr />
                    <p class="card-text"><b class="bold mx-4">Name:</b>{{profile.first_name}} {{profile.last_name}}</p>
                    <hr />
                    <p><b class="bold mx-4">Bio:</b>{{profile.bio}}</p>
                    <hr />
                    <p><b class="bold mx-4">Email:</b>{{profile.email}}</p>
                    <hr />
                    <p><b class="bold mx-4">No of Post:</b>{{profile.get_posts_no}}</p>
                    <hr />
                    
                    <hr />
                    <p><b class="bold mx-4">No of Likes received:</b>{{profile.get_likes_received_no}}</p>
                    <hr />

                </div>

            </div>
            <br />
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Update Profile
            </button>
        </div>
    </div>
</div>



{% endblock %}

