* {
    box-sizing: border-box;
    ;
}

body {
    background-image: url('https://thumbs.dreamstime.com/z/concept-social-media-different-social-icons-blue-background-social-concept-social-media-different-social-icons-blue-130552174.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.card-login {
    margin-top: 100px;
}