{% extends 'Profiles/base.html' %}


{% block title %}
 Update
{% endblock %}

{% block body %}
<div class="card my-2" style="width: auto; display:flex;justify-content:center;text-align:center;">
    <div class="card-body">
        <h5 class="card-title">Update</h5>
        <hr />
        <form action="" method="POST" enctype="multipart/form-data" >
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit" class="btn btn-primary" name="submit-post-form">Update</button>
        </form>

    </div>
</div>
{% endblock %}